%config IPCompleter.greedy=True

In [2]:
import pandas as pd
import numpy as np

In [ ]:
users=pd.read_table("users.dat",sep='::',header=None,names=['UserID','Gender','Age','Occupation','Zipcode'],engine='python')

In [ ]:
movies=pd.read_table("movies.dat",sep='::',header=None,names=['MovieID','Title','Genre'],engine='python')
movies['Year']=[x[-5:-1] for x in movies.Title]
movies['Title']=[x[:-6] for x in movies.Title]

In [ ]:
movies.head()

In [ ]:
Genres=['Action','Adventure','Animation','Children','Comedy','Crime','Documentary','Drama','Fantasy','Film','Horror','Musical','Mystery','Romance','Sci','Thriller','War','Western']
for x in Genres:
    movies[x]=None

In [ ]:
for movieid in movies.MovieID:
    Genrelist=str(movies.loc[movies.MovieID==movieid,'Genre'])
    for genre in Genres:
        if genre in Genrelist:
            movies.loc[movies.MovieID==movieid,genre]=1

In [4]:
ratings=pd.read_table("ratings.dat",sep='::',header=None,names=['UserID','MovieID','Rating','Time'],engine='python')

In [5]:
ratings.head()

   UserID  MovieID  Rating       Time
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [10]:
ratings.loc[:,['MovieID','Rating']].groupby('MovieID').mean()

           Rating
MovieID
1        4.146846
2        3.201141
3        3.016736
4        2.729412
5        3.006757
6        3.878723
7        3.410480
8        3.014706
9        2.656863
10       3.540541
11       3.793804
12       2.362500
13       3.262626
14       3.542484
15       2.458904
16       3.793255
17       4.027545
18       3.337580
19       2.480720
20       2.537500
21       3.623894
22       3.349206
23       2.857143
24       3.179487
25       3.651020
26       3.530000
27       2.934426
28       4.055866
29       4.062035
30       3.648649
...           ...
3923     2.576923
3924     2.923077
3925     3.854839
3926     3.361111
3927     3.580460
3928     3.441748
3929     3.993197
3930     3.255605
3931     2.037037
3932     3.750000
3933     2.250000
3934     3.035714
3935     3.000000
3936     3.723214
3937     2.940741
3938     1.925926
3939     1.961538
3940     1.733333
3941     2.045455
3942     1.785714
3943     3.052083
3944     2.111111
3945     1.488372
3946     2.260000
3947     3.472727
3948     3.635731
3949     4.115132
3950     3.666667
3951     3.900000
3952     3.780928

[3706 rows x 1 columns]